html{
    background-color: lightgreen;
}

#content_container{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player_turn_container{
    display: flex;
    justify-content: center;
    width: 200px;
}
#player_turn_display{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#board{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}

.square{
    border: 1px solid black;
    width: 330px;
    height: 330px;
}
