html{
    background-color: lightgreen;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content_container{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player_turn_container{
    display: flex;
    justify-content: center;
    width: 200px;
}
#player_turn_display{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#board{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}

.square{
    display: flex;
    justify-content: center;
    font-size: 250px;
    border: 1px solid black;
    width: 330px;
    height: 330px;
}
input{
    text-align: center;
    width: 100px;
}

#CPUButton{
    font-weight: 700;
    height: 25px;
    width: 100px;
    margin-top: 2.5%;
    background-color: red;
}
#content_container > form:nth-child(3){
    padding-top: 5px;
}